/* 不固定宽高 */
.m-user-info{
  height: $user-height;
  position: relative;
  padding:0 6px;
  line-height: $user-height;
  cursor: pointer;

  &:hover{
    background-color: $def-color3;

    >i{
      display: inline-block;
    }
  }

  >i{
    display: none;
    width: 18px;
    height: $user-height;
    position: absolute;
    top: 0;
    right: -18px;
    background-color: #000;
    opacity: 0.5;
    border-radius: 0 5px 5px 0;
    text-align: center;
    line-height: $user-height;
    color: $def-color3;
  }

  .m-user-img,.m-user-noimg{
    width: $user-img-size;
    height: $user-img-size;
    margin-right: 8px;
    @include border-radius();
    vertical-align: middle;
  }

  .m-user-noimg{
    display: inline-block;
    background-color: #67ccb3;
    text-align: center;
    line-height: $user-img-size;
    color: #fff;
  }

  .m-user-name{
    color: $user-name-chinese;
  }

  .m-user-ename{
    color: $user-name-english;
  }
}

.m-user-info-small{
  display: inline-block;

  .m-user-name{
    color: $user-name-chinese;
  }

  .m-user-ename{
    color: $user-name-english;
  }

  .m-user-img,.m-user-noimg{
    width: 25px;
    height: 25px;
    margin-right: 8px;
    @include border-radius();
    vertical-align: middle;
  }

  .m-user-noimg{
    display: inline-block;
    background-color: #67ccb3;
    text-align: center;
    line-height: $user-img-size;
    color: #fff;
  }
}