/* 用户导航 */

.m-usertab{
  @extend %clearfix;
  width: 246px;
  border-bottom: 1px solid $def-link1-color;

  .m-usernav{
    width: 50%;
    float:left;
    text-align: center;

    >span{
      display:inline-block;
      height:43px;
      position: relative;
      padding:0 10px;
      line-height: 43px;
      color: #9196a0;
      cursor: pointer;

      &.active{
        color: $def-font1-color;
        border-bottom: 3px solid #63b9f0;
      }
    }

  }

}
