.g-right{
  width: 100%;
  min-width: 915px;
  height: 100%;
  // min-height: 395px;
  position: absolute;
  overflow: auto;
  padding-left: 285px;
  margin-left: 0;
}

.g-fr{
    float: right;
}


.row{
    margin-top: 20px;
    margin-bottom: 20px;
}
